$elephant-green: #104547;
$periwinkle-grey: #d2d6ef;

.App {
  text-align: center;
  background-color: $elephant-green;
}

body {
  background-color: $elephant-green;
}

h1,
h2 {
  color: $periwinkle-grey;
}

h3 {
  margin-top: 0rem;
}

p {
  color: $periwinkle-grey;
}

input {
  width: 15rem;
  height: 2rem;
  margin-right: 0.5rem;
  margin-bottom: 2rem;
}

.country-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-left: 1.4rem;
  margin-right: 1.4rem;
  padding: 1.4rem;
  border-radius: 5px;
  background-color: #647077;

  @media (min-width: 600px) {
    margin-left: 5rem;
    margin-right: 5rem;
  }

  @media (min-width: 900px) {
    margin-left: 18rem;
    margin-right: 18rem;
  }

  button {
    margin-top: 5%;
    width: 50%;
    background-color: $elephant-green;
    color: $periwinkle-grey;

    svg {
      height: 0.8rem !important;
    }

    &:hover {
      background-color: #af929d !important;
      color: $elephant-green !important;
    }
  }
}

.learn {
  text-align: center;
  color: $periwinkle-grey;
  padding-bottom: 20%;

  .page-button {
    margin-top: 5%;
    width: 50%;
    color: $elephant-green;
    background-color: $periwinkle-grey;
  }

  .content-container {
    color: $periwinkle-grey;
    background-color: #727072;
    padding: 10px;
    border-radius: 5px;
    width: 100%;
    margin-bottom: 5%;
    font-size: 18px;

    @media (min-width: 600px) {
      width: 50%;
    }
  }

  h3 {
    font-size: 35px;
  }

  .keys {
    font-size: 9px;
    color: #0a0a0a;
    font-weight: 700;
    margin-bottom: 0px;
  }
}

.button-holder {
  button {
    padding-right: 0.5rem;
    color: $elephant-green !important;
    background-color: $periwinkle-grey !important;
    svg {
      height: 0.8rem !important;
    }
  }
}

.modal-holder {
  display: flex;
  flex-direction: column;
  background: none;
  color: red;

  button:first-child {
    margin-bottom: 1rem;
    color: $periwinkle-grey;
    background-color: $elephant-green;
  }

  button {
    color: $periwinkle-grey;
    background-color: $elephant-green;

    &:hover {
      background-color: #af929d !important;
      color: $elephant-green !important;
    }
  }
}

.modal-home {
  background-color: $elephant-green;

  // button {
  //   background-color: $periwinkle-grey !important;
  //   color: $elephant-green;
  // }
}

.cta-holder {
  svg {
    margin-left: 0.5rem;
  }
}
.cta {
  // display: flex;
  // flex-direction: column;
  // justify-content: space-between;
  // padding-top: 30%;
  // padding-bottom: 30%;

  button:first-child {
    margin-bottom: 1rem;
  }

  button {
    font-size: 20px;
    font-weight: 300;
    color: $periwinkle-grey;
    background-color: $elephant-green;
    border: none;

    &:hover {
      background-color: #af929d !important;
      color: $elephant-green !important;
    }
  }
}

.modal-text {
  text-transform: lowercase;
  border-top: 1px solid $periwinkle-grey;
  padding-top: 1.5rem;
  padding-bottom: 1rem;
}

.page-button {
  margin-top: 5% !important;
  width: 50% !important;
  color: $elephant-green !important;
  background-color: $periwinkle-grey !important;
}

.form {
  button {
    color: $elephant-green !important;
    background-color: $periwinkle-grey !important;
  }
}
