$elephant-green: #104547;
$periwinkle-grey: #d2d6ef;

.App {
  text-align: center;
  background-color: $elephant-green;
}

body {
  background-color: $elephant-green;
}

h1,
h2 {
  color: $periwinkle-grey;
}

h3 {
  margin-top: 0rem;
}

p {
  color: $periwinkle-grey;
}

input {
  width: 15rem;
  height: 2rem;
  margin-right: 0.5rem;
  margin-bottom: 2rem;
}

.country-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-left: 1.4rem;
  margin-right: 1.4rem;
  padding: 1.4rem;
  border-radius: 5px;
  background-color: #647077;

  @media (min-width: 600px) {
    margin-left: 5rem;
    margin-right: 5rem;
  }

  @media (min-width: 900px) {
    margin-left: 18rem;
    margin-right: 18rem;
  }

  button {
    margin-top: 5%;
    width: 50%;
    background-color: $elephant-green;
    color: $periwinkle-grey;

    &:hover {
      background-color: #af929d !important;
      color: $elephant-green !important;
    }
  }
}

.learn {
  text-align: center;
  color: $periwinkle-grey;
  padding-bottom: 20%;

  .content-container {
    color: $periwinkle-grey;
    background-color: #727072;
    padding: 10px;
    border-radius: 5px;
    width: 100%;
    margin-bottom: 5%;
    font-size: 18px;

    @media (min-width: 600px) {
      width: 50%;
    }
  }

  h3 {
    font-size: 35px;
  }

  .keys {
    font-size: 9px;
    color: #0a0a0a;
    font-weight: 700;
    margin-bottom: 0px;
  }
}

.button-holder {
  button {
    padding-right: 0.5rem;
    svg {
      height: 0.8rem !important;
    }
  }
}

.cta {
  button {
    font-size: 20px;
    font-weight: 300;
    background-color: $elephant-green;
    border: none;
    color: $periwinkle-grey;
    margin-right: 5rem;
    margin-left: 5rem;
  }
}
